<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title style="color: #0c5687;">{{'LOGIN' | translate}}</mat-card-title>
    </mat-card-header>

    <form class="example-form">
      <mat-card-content>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="{{'EMAIL' | translate}}" [(ngModel)]="cred.userName" name="userName">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="{{'PASSWORD' | translate}}" [(ngModel)]="cred.password" name="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <div *ngIf="showError" class="error-message">{{'LOGIN_ERROR'| translate}}</div>

      </mat-card-content>
      <button mat-stroked-button color="accent" (click)="tryAuth()" class="btn-block">{{'LOGIN' | translate}}</button>
    </form>
  </mat-card>

</div>
