<!-- Toolbar -->

<div class="app-root">
  <mat-toolbar color="primary" class="app-header">
    <div style="margin-left: 1%">{{'TITLE_DOCTOR_ONLINE' | translate}}</div> <img src="../assets/icon.png" alt = "{{'HEADER_ICON' | translate}}" class="header-icon">
    <span class="nav-tool-items">
    <a mat-button routerLink="login" routerLinkActive="active"
       *ngIf="!isAuthenticated()">{{'LOGIN' | translate}}</a>
    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active"
       *ngIf="!isAuthenticated()">{{'REGISTER' | translate}}</a>

    <button mat-button [matMenuTriggerFor]="menu" *ngIf="isAuthenticated()">
      <span class="material-icons" style="margin-right: 5px">account_circle</span>{{currentUser.email}}</button>
    <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">{{'LOGOUT' | translate}}</button>
    </mat-menu>
  </span>
  </mat-toolbar>

  <div class="app-router-outlet">
    <router-outlet></router-outlet>
  </div>
</div>

