.app-root{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-router-outlet {
  height: 100%;

  padding: 0;
}

.app-header {
  background: #0c5687;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.header-icon {
  margin-right: auto;
  padding-left: 5px;
  width: 35px;
  height: 35px;
}

