
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title style="color: #0c5687;">{{'REGISTER' | translate}}</mat-card-title>
    </mat-card-header>

    <form class="example-form">

      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="{{'USER_NAME' | translate}}">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="{{'EMAIL' | translate}}">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="{{'PASSWORD' | translate}}">
        </mat-form-field>
      </mat-card-content>

      <button mat-stroked-button color="accent" class="btn-block">{{'REGISTER' | translate}}</button>

    </form>
  </mat-card>
</div>
